
 
  <div class="main-container">
    <div class="container">
      <div class="form-logo">
        <img src="../../../assets/Logo-2.png" alt="">
        <h1>°Bienvenido!</h1>
      </div>
      <div class="form-container">
        <div class="image-2">
          <img src="../../../assets/Blase-Logo.png" alt="">
        </div>
        <div class="form-login">
          <form action="" class="form-l">
      <input type="email" class="form-control"  placeholder="Correo" [(ngModel)]="usuario.email" name="email">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="usuario.password"  name="password">
<input class="btn-1" type="submit" value="Iniciar Sesion" (click)="Ingresar()">

    <input class="btn-1" type="submit" value="Iniciar Sesion con Google" (click)="IngresarWithGoogle()">
            <input class="btn-2" [routerLink]="['/registrar']" type="submit" value="Registrarse">
          </form>    
        </div>
      </div>
    </div>
  </div>

