  <div class="main-container">
    <div class="container">
      <div class="form-container">
        <div class="image-2">
          <img src="../../../assets/Blase-Logo.png" alt="">
        </div>
        <div class="form-register">
          <form action="" class="form-r">
      <input type="text" class="form-control"  placeholder="Nombre" [(ngModel)]="usuario.name" name="name">
      <input type="email" class="form-control"  placeholder="Correo" [(ngModel)]="usuario.email" name="email">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="usuario.password"  name="password">
	    <input class="btn-1" type="submit" value="Registrarse" (click)="Ingresar()">
    <input class="btn-1" type="submit" value="Registrarse con google" (click)="IngresarWithGoogle()">

            
          </form>    
        </div>
      </div>
      <div class="form-logo">
        <img src="../../../assets/update.jpg" alt="">

<input type="file" (change)="upload($event)" accept=".png,.jpg" />
      <input type="text"   placeholder="Comentario de perfil" [(ngModel)]="usuario.comentario" name="comentario">
      </div>
    </div>
  </div>


